/* .login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    width: 100%; 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0; 
    padding: 0;
  }
  
 
  .login-form {
    width: 420px;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(10px);
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
  }
  

  .input-container {
    position: relative;
    width: 100%;
    height: 48px;
    margin-bottom: 2rem;
  }
  
  .input-field {
    width: 100%;
    height: 100%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.75rem;
    background-color: white;
    color: #f97316;
    font-size: 1rem;
    padding: 0.5rem 2.5rem 0.5rem 0.5rem;
    outline: none;
  }
  
  .input-field::placeholder {
    color: #f97316; 
  }
  
  .input-field:focus {
    outline: none;
  }
  

  .input-icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #f97316; 
    font-size: 1.25rem;
  }
  

  .login-button {
    width: 100%;
    height: 48px;
    background-color: #f97316; 
    color: white;
    font-weight: bold;
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #f3f4f6;
    color: #000;
  }

  .error-message {
    margin-top: 1rem;
    text-align: center;
    color: #ef4444; 
  }
   */